.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.logo {
    position: absolute;
    top: 60px;
    color: #fff;
    font-family: sans-serif;
    font-size: 32px;

    h1 {
        text-align: center;
    }

}

.auth-card {
    width: 420px;
    padding: 32px 32px 12px 32px;

    .card-form {
        display: flex;
        flex-direction: column;
    }

}