myexpenses-api/.web-server-pid
myexpenses-api/app/config/parameters.yml
myexpenses-api//build/
myexpenses-api/phpunit.xml
myexpenses-api/var/*
myexpenses-api/!/var/cache
myexpenses-api/var/cache/*
myexpenses-api/!var/cache/.gitkeep
myexpenses-api/!/var/logs
myexpenses-api/var/logs/*
myexpenses-api/!/var/logs/.gitkeep
myexpenses-api/!/var/sessions
myexpenses-api/!/var/sessions/*
myexpenses-api/!var/sessions/.gitkeep
myexpenses-api/!var/SymfonyRequirements.php
myexpenses-api/vendor/
myexpenses-api/web/bundles/
myexpenses-api/.idea
myexpenses-api/.idea/
